<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Reset Password</h1>
    <form id="resetPasswordForm" method="post">
      <input type="hidden" name="token" value="<%= token %>" />

      <label for="newPassword">New Password:</label><br />
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        placeholder="Enter new password"
        required
      />
      <br /><br />
      <button type="submit">Reset Password</button>
    </form>
    <div id="changePass"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const form = document.getElementById("resetPasswordForm");
      const passwordInput = document.getElementById("newPassword");
      const notifications = document.getElementById("changePass");

      // Listen for form submit
      form.addEventListener("submit", (e) => {
        e.preventDefault(); // Prevent form from submitting

        const password = passwordInput.value;
        socket.emit("sendNotification", "Password berhasil diganti!");

        // Optional: Clear the password input after submission
        passwordInput.value = "";
      });

      // Listen for notification from server
      socket.on("notification", (data) => {
        const paragraph = document.createElement("p");
        paragraph.innerText = data;
        notifications.appendChild(paragraph);
      });
    </script>
  </body>
</html>
